In [1]:
getwd()

[1] "/Users/wangchi-an/Desktop/Columbia/Winter Vacation/Coursera-R"

In [4]:
data = read.csv("data/hw1_data.csv")

In [5]:
head(data,2)

  Ozone Solar.R Wind Temp Month Day
1    41     190  7.4   67     5   1
2    36     118  8.0   72     5   2

In [6]:
dim(data)

[1] 153   6

In [7]:
tail(data,2)

    Ozone Solar.R Wind Temp Month Day
152    18     131  8.0   76     9  29
153    20     223 11.5   68     9  30

In [11]:
data[47, ]

   Ozone Solar.R Wind Temp Month Day
47    21     191 14.9   77     6  16

In [12]:
table(data$Ozone)

  1   4   6   7   8   9  10  11  12  13  14  16  18  19  20  21  22  23  24  27
  1   1   1   3   1   3   1   3   2   4   4   4   4   1   4   4   1   6   2   1
 28  29  30  31  32  34  35  36  37  39  40  41  44  45  46  47  48  49  50  52
  3   1   2   1   3   1   2   2   2   2   1   1   3   2   1   1   1   1   1   1
 59  61  63  64  65  66  71  73  76  77  78  79  80  82  84  85  89  91  96  97
  2   1   1   2   1   1   1   2   1   1   2   1   1   1   1   2   1   1   1   2
108 110 115 118 122 135 168
  1   1   1   1   1   1   1

In [16]:
data$Ozone
sum(is.na(data$Ozone))

  [1]  41  36  12  18  NA  28  23  19   8  NA   7  16  11  14  18  14  34   6
 [19]  30  11   1  11   4  32  NA  NA  NA  23  45 115  37  NA  NA  NA  NA  NA
 [37]  NA  29  NA  71  39  NA  NA  23  NA  NA  21  37  20  12  13  NA  NA  NA
 [55]  NA  NA  NA  NA  NA  NA  NA 135  49  32  NA  64  40  77  97  97  85  NA
 [73]  10  27  NA   7  48  35  61  79  63  16  NA  NA  80 108  20  52  82  50
 [91]  64  59  39   9  16  78  35  66 122  89 110  NA  NA  44  28  65  NA  22
[109]  59  23  31  44  21   9  NA  45 168  73  NA  76 118  84  85  96  78  73
[127]  91  47  32  20  23  21  24  44  21  28   9  13  46  18  13  24  16  13
[145]  23  36   7  14  30  NA  14  18  20

[1] 37

In [21]:
clean_ozone = data$Ozone[!is.na(data$Ozone) ]
mean(clean_ozone)

[1] 42.12931

In [29]:
# Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90. 
# What is the mean of Solar.R in this subset?

subset = data[data$Ozone > 31 & data$Temp > 90 & !is.na(data$Ozone),]
mean(subset$Solar.R)

[1] 212.8

In [31]:
# What is the mean of "Temp" when "Month" is equal to 6?
mean(data[data$Month == 6,]$Temp)

[1] 79.1

In [34]:
# What was the maximum ozone value in the month of May (i.e. Month is equal to 5)?
max(data[data$Month == 5 & !is.na(data$Ozone) ,]$Ozone)
# data[data$Month == 5,]$Ozone

[1] 115

In [36]:
x <- 1:4
y <- 2:3
x + y
class(x+y)

[1] 3 5 5 7

[1] "integer"

In [44]:
# practice data.frames
test_frame = data.frame(foo=1:4, bar=c(T,T,F,F))
test_frame
row.names(test_frame)

# poo poo
colnames(test_frame)
rownames(test_frame)

  foo   bar
1   1  TRUE
2   2  TRUE
3   3 FALSE
4   4 FALSE

[1] "1" "2" "3" "4"

[1] "foo" "bar"

[1] "1" "2" "3" "4"