Learning from Lectures

<h2>Textual Format</h2>
It generate some R code, that reconstructs the object in R.
a way to save R object that we can load back into the working space later.

In [1]:
y = data.frame(a = 1, b = "a")

In [2]:
dput(y)

structure(list(a = 1, b = structure(1L, .Label = "a", class = "factor")), .Names = c("a",
"b"), row.names = c(NA, -1L), class = "data.frame")

In [3]:
dput(y, file="y.R")

In [4]:
new.y = dget("y.R")

In [5]:
new.y

  a b
1 1 a

<h3> What is L suffix for?</h3>
We can use the ‘L’ suffix to qualify any number with the intent of making it an explicit integer. So ‘0x10L’ creates the integer value 16 from the hexadecimal representation. The constant 1e3L gives 1000 as an integer rather than a numeric value and is equivalent to 1000L. (Note that the ‘L’ is treated as qualifying the term 1e3 and not the 3.) If we qualify a value with ‘L’ that is not an integer value, e.g. 1e-3L, we get a warning and the numeric value is created. A warning is also created if there is an unnecessary decimal point in the number, e.g. 1.L.

<b>Make it an explicit integer.</b>

In [6]:
1L

[1] 1

In [7]:
14L

[1] 14

<h3>Subsetting </h3>
<h4>Subsetting a vector</h4>

In [8]:
x = c("a","b","c","c","d","a","b","e")
# we can make a logic syntax in the single bracket
x[x > "a"]

[1] "b" "c" "c" "d" "b" "e"

In [10]:
# We can make a logic vector
logic = x > "a"
logic
# and subset with the logic vector
x[logic]

[1] FALSE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE

[1] "b" "c" "c" "d" "b" "e"

<h4>Subsetting a list</h4>

In [14]:
x = list(foo=1:4, bar=0.6)

# Using a single bracket returns the same class, which is also a list
x[1]
class(x[1])

# Using a double bracket gives us just the number series
x[[1]]
class(x[[1]])

# Dollar signs gives us the obj that's associates to bar.
x$bar
class(x$bar)

# this returns the same class of list.
x["bar"]
class(x["bar"])

# it's the same with the name when using double brackets, it returns just the number
x[["bar"]]
class(x[["bar"]])

$foo
[1] 1 2 3 4

[1] "list"

[1] 1 2 3 4

[1] "integer"

[1] 0.6

[1] "numeric"

$bar
[1] 0.6

[1] "list"

[1] 0.6

[1] "numeric"

In [15]:
# If we want to subset multiple elements from a list, we'll need the single bracket.
y = list(foo=1:6, bar=0.6, baz="What's up dude")
y[c(1,3)]

$foo
[1] 1 2 3 4 5 6

$baz
[1] "What's up dude"

In [18]:
# Double Bracket has an advantage over the dollar sign is that, you'll need the exact string in the code, 
# but using double bracket, we can use computed string.

# Which means, putting vars in double bracket.
key = "foo"
y[[key]]
class(y[[key]])

[1] 1 2 3 4 5 6

[1] "integer"

In [35]:
z = list(a = list(10,12,14), b = list(2.18, 9.99))

z[[c(1,3)]]

z[[1]][[3]]

class(z[1])

# this returns still, a list of list, which is pretty confusing to me... lol
c = z[1]
c[[1]][3]

[1] 14

[1] 14

[1] "list"

[[1]]
[1] 14