In [1]:
# break in R, is next

In [2]:
# readability for assigning values,

x = 3

y = if( x > 2){
    10
}else{
    9
}

y

[1] 10

In [6]:
for (i in 1:10){
    print(i)
}

x = c("a", "b", "c", "d")

for (i in seq_along(x)){
    print(x[i])
}

for (letter in x){
    print(letter)
}

# can make it one line.
for(i in 1:4) print(x[i])

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] "a"
[1] "b"
[1] "c"
[1] "d"
[1] "a"
[1] "b"
[1] "c"
[1] "d"
[1] "a"
[1] "b"
[1] "c"
[1] "d"

In [7]:
# seq_len
# take a int and make a int sequence.
seq_len(10)

 [1]  1  2  3  4  5  6  7  8  9 10

In [ ]:
# repeat, initiate a infinite loop
# you can "break" it at some point.

x0 = 1
tol = 1e-8

repeat{
    x1 = computeEstimate()
    
    if(abs(x1-x0) < tol){
        break
    }else{
        x0 = x1
    }
}

# infinite loop is still danger, should use for loop with a hard limit and check whether it converged or not.

In [8]:
# next can be used in any kind of loop, and it skips an iteration

for(i in 1:100){
    if (i<=20){
        next
    }
    
    # Do something
}

In [9]:
# write a function
add = function(a, b){
#     the function returns the last expression, so we don't need to return
    a + b
}

add(1,2)

[1] 3

In [12]:
above_10 = function(x){
    x[x > 10]
}

# teacher's function

above10 = function(x){
    use = x > 10
    x[use]
}


# default value.!
above_n = function(x, n = 10){
    use = x > n
    x[use]
}

above_10(c(1,2,3,4,5,11,1,2,14,15,222,34234))
above_n(c(1,2,3,4,5,11,1,2,14,15,222,34234), 14)

[1]    11    14    15   222 34234

[1]    15   222 34234

In [33]:
dataset = matrix(c(1,2,3,4,5,NA,7,8,9,10), ncol=2, nrow=5)
dataset

column_mean = function(y, removeNA = TRUE){
    vector_length = ncol(y)
    
    # make a mean vector with the same length
    means = numeric(vector_length)
    for(i in seq_len(vector_length)){
        means[i] = mean(y[,i], na.rm = removeNA)
    }
    
    means
}

ncol(dataset)
column_mean(dataset)
column_mean(dataset, FALSE)

# gives you a vector of the length in bracket
# numeric(10)
# character(10)

     [,1] [,2]
[1,]    1   NA
[2,]    2    7
[3,]    3    8
[4,]    4    9
[5,]    5   10

[1] 2

[1] 3.0 8.5

[1]  3 NA